@import url('https://fonts.googleapis.com/css2?family=Ranga&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
    --bg-pink: #EEC0C1;
    --bg-crem: #FAD39b;
    --text-color-1: #E9958C;
    --text-color-2: #FFFFFF;
    --text-color-3: #BEA395;
    --h1-size: 80px;
    --nav-size: 60px;
    --height: 100vh;
    --border: 1px solid #efefef;
    --border-radius: 15px;
    --speed: 500ms;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color-2);
    text-decoration: none;
    transition: color 300ms;
}

a:hover {
    text-decoration: none;
    color: #efefef;
}

/*Navbar*/

.navbar {
    height: var(--nav-size);
}

.circle-brand {
    height: 35px;
    width: 35px;
    background-color: #bbb;
    border-radius: 100%;
    display: inline-block;
    margin-right: 10px;
}

.navbar-brand {
    color: #E9958C;
    font-family: 'Ranga', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
}

.navbar-brand:visited {
    color: #E9958C;
}

.navbar-brand:link {
    color: #E9958C;
}

.navbar-brand:hover {
    color: #E9958C;
}

.nav-link {
    color: #E9958C;
    font-weight: bolder;
    font-size: 18px;
}

.nav-link:visited {
    color: #E9958C;
}

.nav-link:link {
    color: #E9958C;
}

.nav-link:hover {
    color: #E9958C;
}

/* Content */

.head-contain {
    margin-top: 200px;
    width: 100%;
}

.head-contain-2 {
    margin-top: 200px;
    width: 25%;
}

.head-l {
    font-size: var(--h1-size);
    color: var(--text-color-3);
}

.head-r {
    font-size: var(--h1-size);
    color: var(--text-color-2);
}


.crembg {
    background-color: var(--bg-crem);
    height: var(--height);
    overflow: hidden;
}

.pinkbg {
    background-color: var(--bg-pink);
    height: var(--height);
    overflow: hidden;
}


.ctabut {
    margin-right: 120px;
}