@import "main.css";

html { overflow-y: scroll; overflow-x:hidden; }
body {
    position: absolute;
    height: 100%;
    width: 100%;
}

img {
    height: 200px;
}

.row (
    margin-bottom: 10px;
)

.text-center {
    text-align: center;
}
.center {
    margin: auto;
    width: 100%;
}

table {
    margin: 0 auto;
}


#card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container {
    padding: 2px 16px;
}