

body{
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/11/69/f9/a4/renard-bakery.jpg');
    background-size: cover;
}
.pinkbg1{
    margin-top: 5%;
    border-radius: 50px;
    background-color: rgba(238, 192, 193, 0.7);
    padding: 5%;
    width:70%;
}

.text-center{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

.btn-form{
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
}


html, body {
    height: 100%;
    width: 100%;
}

.container-fluid{
    height: 100%;
    width: 100%;
}

.col-form-label{
    font-size: 15px;
}

.form-control{
    margin-bottom: 20px;
}

h5 .btn-form{
    margin-top: 20px;
}


