<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>store list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lumen/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-715VMUUaOfZR3/rWXZJ9agJ/udwSXGEigabzUbJm2NR4/v5wpDy8c14yedZN6NL7" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/storelocation.css}"/>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="circle-brand"></span>
    <a class="navbar-brand" href="#">Kuwe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            </li>
        </ul>
        <a class="nav-link my-4 my-sm-0" th:href="@{'/find-form'}">Cari Toko</a>
        <button class="btn btn-warning my-2 my-sm-0"><a th:href="@{'/create'}">Create Kuwe</a></button>
    </div>
</nav>


<h1 class="text-center">Toko Kue Terdekat</h1>

<h3 class="text-center">Posisi saat ini:</h3>
<table>
    <tr>
        <td>Latitude: </td>
        <td id="lat" th:text="${location.latitude}"></td>
    </tr>
    <tr>
        <td>Longitude: </td>
        <td id="lon" th:text="${location.longitude}"></td>
    </tr>
</table>
<a href="/find-form">Submit another location</a>

<div id="storeList" class="center">

</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>


<script>
    $(document).ready(function(){

        var lat = document.getElementById('lat').innerHTML
        var lon = document.getElementById('lon').innerHTML


       $.ajax({

            url: "https://developers.zomato.com/api/v2.1/search?lat=" + lat + "&lon=" + lon + "&cuisines=5",
            headers:{
                "user-key" : "8ec8227460918820b719cb5fe0efb3e2",
                "content-type": "application/json"
            },
            dataType: "json",

            success: function (data){
                var restaurants = data["restaurants"]

                for (var i = 0; i < restaurants.length; i+=3){
                    document.getElementById('storeList').innerHTML +=
                        '<div class="container">'
                        + '<div class="row">'
                            + '<div class="col-sm">'
                                + '<div id="card" class="center">'
                                + '<img src='+ restaurants[i]['restaurant']['featured_image'] +' alt="Avatar" style="width:100%">'
                                + '<div id="container">'
                                + '<h4><b>'+ restaurants[i]['restaurant']['name'] +'</b></h4>'
                                + '<p>'+ restaurants[i]['restaurant']['location']['address'] +'</p>'
                                + '<p>'+ restaurants[i]['restaurant']['phone_numbers'] +'<p>'
                                + '</div> </div>'
                            + '</div>'

                            + '<div class="col-sm">'
                                + '<div id="card" class="center">'
                                + '<img src='+ restaurants[i+1]['restaurant']['featured_image'] +' alt="Avatar" style="width:100%">'
                                + '<div id="container">'
                                + '<h4><b>'+ restaurants[i+1]['restaurant']['name'] +'</b></h4>'
                                + '<p>'+ restaurants[i+1]['restaurant']['location']['address'] +'</p>'
                                + '<p>'+ restaurants[i+1]['restaurant']['phone_numbers'] +'<p>'
                                + '</div> </div>'
                            + '</div>'

                            + '<div class="col-sm">'
                                + '<div id="card" class="center">'
                                + '<img src='+ restaurants[i+2]['restaurant']['featured_image'] +' alt="Avatar" style="width:100%">'
                                + '<div id="container">'
                                + '<h4><b>'+ restaurants[i+2]['restaurant']['name'] +'</b></h4>'
                                + '<p>'+ restaurants[i+2]['restaurant']['location']['address'] +'</p>'
                                + '<p>'+ restaurants[i+2]['restaurant']['phone_numbers'] +'<p>'
                                + '</div> </div>'
                            + '</div>'

                        + '</div> </div>'



                };
            },

            type:'GET'
       });
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</html>
