<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Kuwe.id</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lumen/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-715VMUUaOfZR3/rWXZJ9agJ/udwSXGEigabzUbJm2NR4/v5wpDy8c14yedZN6NL7" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/createKuwe.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script th:src="@{/js/resultPage.js}"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="circle-brand"></span>
    <a class="navbar-brand" th:href="@{'/'}">Kuwe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            </li>
        </ul>
        <button class="btn btn-secondary my-2 my-sm-0"><a th:href="@{'/'}">Exit</a></button>
    </div>
</nav>

<div class="row">
    <div class="crembg col-4 m-0 p-0 d-flex align-items-center justify-content-center">
        <div class="create-placeholder row" style="z-index: 1; padding: 48px 24px">
            <div class="container col-12 d-flex justify-content-center d-flex flex-direction-column">
            <div>
                <form th:action="@{/getResult}" method="POST">
                        <div class="form-group">
                            <h2 class="text-center">Nama kuwe</h2>
                            <input type="text" class="form-control" id="inputkuwename" required th:name="namakuwe">
                        </div>

                        <div class="form-group">
                            <select class="form-control" th:name="jeniskuwe" id="jenisKuwe">
                                <th:block th:each="kuwe: ${kuwes}">
                                    <option>[[${kuwe}]]</option>
                                </th:block>
                            </select>
                        </div>

                        <div class="form-group d-flex flex-direction-row row">
                            <div class="col-8">
                                <label for="topping1">Topping 1</label>
                                <select class="form-control" th:name="topping1" id="topping1">
                                    <th:block th:each="topping: ${toppings}">
                                        <option>[[${topping}]]</option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="topping1Jumlah">jumlah</label>
                                <input type="number" min="1" class="form-control" value="1" id="topping1Jumlah" required th:name="topping1Jumlah">
                            </div>
                        </div>

                        <div class="form-group d-flex flex-direction-row row">
                            <div class="col-8">
                                <label for="topping2">Topping 2</label>
                                    <select class="form-control" th:name="topping2" id="topping2">
                                        <th:block th:each="topping: ${toppings}">
                                            <option>[[${topping}]]</option>
                                        </th:block>
                                    </select>
                            </div>
                            <div class="col-4">
                                <label for="topping2Jumlah">jumlah</label>
                                <input type="number" min="1" class="form-control" value="1" id="topping2Jumlah" required th:name="topping2Jumlah">
                            </div>
                        </div>

                        <div class="form-group d-flex flex-direction-row row">
                            <div class="col-8">
                                <label for="topping3">Topping 3</label>
                                    <select class="form-control" th:name="topping3" id="topping3">
                                        <th:block th:each="topping: ${toppings}">
                                            <option>[[${topping}]]</option>
                                        </th:block>
                                    </select>
                            </div>
                            <div class="col-4">
                                <label for="topping3Jumlah">jumlah</label>
                                <input type="number" min="1" class="form-control" value="1" id="topping3Jumlah" required th:name="topping3Jumlah">
                            </div>
                        </div>
                        <input type="hidden" value="/css/kuwe/cakedefault.png" id="cakePhoto" th:name="cakePhoto">
                        <button class="btn buttondown btn-warning my-2 my-sm-0 save-recipe" type="submit">Save Kue</button>
                </form>
            </div>
            </div>
        </div>
    </div>
    <div class="crembg col-8 m-0 p-0 d-flex align-items-center justify-content-center">
        <div class="kuwe-placeholder">
            <img th:src="@{/css/kuwe/cakedefault.png}" alt="kuwe" id="kuwe"/>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    var cakePhoto = document.getElementById("kuwe").text;
    var jenisKuwe = document.getElementById("jenisKuwe").options[document.getElementById("jenisKuwe").selectedIndex].text;
    var topping1 = document.getElementById("topping1").options[document.getElementById("topping1").selectedIndex].text;
    var topping2 = document.getElementById("topping2").options[document.getElementById("topping2").selectedIndex].text;
    var topping3 = document.getElementById("topping3").options[document.getElementById("topping3").selectedIndex].text;
    changeVal();

    $('#jenisKuwe').change(function(){
        jenisKuwe = $(this).val()
        changeVal();
    })


    $('#topping1').change(function(){
        topping1 = $(this).val()
        changeVal();
    })

    $('#topping2').change(function(){
        topping2 = $(this).val()
        changeVal();
    })

    $('#topping3').change(function(){
        topping3 = $(this).val()
        changeVal();
    })

    function changeVal(){
        console.log("jenis kuwe : " + jenisKuwe);
        console.log("topping 1 : " + topping1);
        console.log("topping 2 : " + topping2);
        console.log("topping 3 : " + topping3);
        if (jenisKuwe === "Coklat") {
            if (topping1 === "Vanilla" || topping2 === "Vanilla" || topping3 === "Vanilla"){
                $('#kuwe').attr("src", "/css/kuwe/kuwecoklatvanilla.png");
                $("#cakePhoto").val("/css/kuwe/kuwecoklatvanilla.png");
            }
            if (topping1 === "Strawberry" || topping2 === "Strawberry" || topping3 === "Strawberry"){
                $('#kuwe').attr("src", "/css/kuwe/kuwecoklatstroberi.png");
                $("#cakePhoto").val("/css/kuwe/kuwecoklatstroberi.png");
            }
            if (topping1 === "Coklat" || topping2 === "Coklat" || topping3 === "Coklat"){
                $('#kuwe').attr("src", "/css/kuwe/kuwecoklatcoklat.png");
                $("#cakePhoto").val("/css/kuwe/kuwecoklatcoklat.png");
            }
            if (topping1 === "Keju" || topping2 === "Keju" || topping3 === "Keju"){
                $('#kuwe').attr("src", "/css/kuwe/kuwecoklatkeju.png");
                $("#cakePhoto").val("/css/kuwe/kuwecoklatkeju.png");
            }
        }

        if (jenisKuwe === "Vanilla") {
            if (topping1 === "Vanilla" || topping2 === "Vanilla" || topping3 === "Vanilla"){
                $('#kuwe').attr("src", "/css/kuwe/kuwevanillavanilla.png");
                $("#cakePhoto").val("/css/kuwe/kuwevanillavanilla.png");
            }
            if (topping1 === "Strawberry" || topping2 === "Strawberry" || topping3 === "Strawberry"){
                $('#kuwe').attr("src", "/css/kuwe/kuwevanillastroberi.png");
                $("#cakePhoto").val("/css/kuwe/kuwevanillastroberi.png");
            }
            if (topping1 === "Coklat" || topping2 === "Coklat" || topping3 === "Coklat"){
                $('#kuwe').attr("src", "/css/kuwe/kuwevanillacoklat.png");
                $("#cakePhoto").val("/css/kuwe/kuwevanillacoklat.png");
            }
            if (topping1 === "Keju" || topping2 === "Keju" || topping3 === "Keju"){
                $('#kuwe').attr("src", "/css/kuwe/kuwevanillakeju.png");
                $("#cakePhoto").val("/css/kuwe/kuwevanillakeju.png");
            }
        }

        if (jenisKuwe === "Macha") {
            if (topping1 === "Vanilla" || topping2 === "Vanilla" || topping3 === "Vanilla"){
                $('#kuwe').attr("src", "/css/kuwe/kuwematchavanilla.png");
                $("#cakePhoto").val("/css/kuwe/kuwematchavanilla.png");
            }
            if (topping1 === "Strawberry" || topping2 === "Strawberry" || topping3 === "Strawberry"){
                $('#kuwe').attr("src", "/css/kuwe/kuwematchastroberi.png");
                $("#cakePhoto").val("/css/kuwe/kuwematchastroberi.png");
            }
            if (topping1 === "Coklat" || topping2 === "Coklat" || topping3 === "Coklat"){
                $('#kuwe').attr("src", "/css/kuwe/kuwematchacoklat.png");
                $("#cakePhoto").val("/css/kuwe/kuwematchacoklat.png");
            }
            if (topping1 === "Keju" || topping2 === "Keju" || topping3 === "Keju"){
                $('#kuwe').attr("src", "/css/kuwe/kuwematchakeju.png");
                $("#cakePhoto").val("/css/kuwe/kuwematchakeju.png");
            }
        }
    }
</script>
</body>
</html>
